@import "~normalize.css";
@import "~firebaseui/dist/firebaseui.css";
@import "../variables.less";

.app-header {
    height: 40px;

    color: @momoPrimary;
    background-color: #24292e;

    padding: 10px 20px 10px 20px;

    display: flex;
    align-items: center;
    
    .app-title {
        font-size: 18px;
        flex-grow: 1;

        text-shadow: 0px 1px 1px rgba(255,255,255,0.1);
    }

    .app-header-create-button {
        color: white;

        .material-icons {
            font-size: 13px;
        }
    }

    .app-header-sign-in-button {
        color: @momoPrimary;
    }

    .app-header-avatar-button {
        margin-left: 10px;
        width: 36px;
        height: 36px;
    }

    .app-header-avatar-image {
        width: 30px;
        height: 30px;
    }
}
