@import "~normalize.css";
@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables.less";

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext');

.flex-column() {
    display: flex;
    flex-direction: column;
}

a, a:hover, a:active, a:visited {
    color: inherit;
}

.guitar-app {
    .flex-column();
}

.guitar-app-header {
    height: 80px;
    background-color: #fcfcfc;
    border-bottom: solid 1px #eae8e8;

    padding: 20px;
    
    .song-title {
        font-size: 24px;
        font-weight: 600;
    }
    
    .song-performer {
        margin-left: 10px;
        font-size: 18px;
        color: #888888;
    }
}

.score-editor-container{
    padding: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

.score-content-chord {
    font-weight: 600;
    color: #c10d0d;
}

.score-content-tab-background {
    color: #bbbbbb;
}

.score-content-tab-content {
    color: black;
    font-weight: 600;
}
