.song-header {
    height: 80px;
    background-color: #fcfcfc;
    border-bottom: solid 1px #eae8e8;

    display: flex;
    align-items: center;

    padding: 0 20px;

    .bp3-editable-text {
        vertical-align: inherit;
    }

    .song-header-song-info {
        align-items: baseline;
    }
    
    .song-header-title {
        line-height: 30px;
        font-size: 24px;
        font-weight: 600;
    }
    
    .song-header-artist {
        line-height: 30px;
        margin-left: 10px;
        font-size: 18px;
        color: #888888;
    }
}
